*{
    margin: 0;
    padding: 0;
}

#nav-bar{
    width: 100%;
    position:fixed;
    padding: 2rem 10%;
    text-align: center;
    margin-right: 2rem;
    background-color: crimson;
    color: burlywood;
}

a{
    text-decoration: none;
}
 
#nav-bar a{
    color: burlywood;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    margin-right: 2rem;
}

#welcome-section{
    height: 100vh;
    width: 100%;
    background-color:beige;
}

#welcome-section h1{
    font-size: 40px;
    font-weight: 700;
    color: crimson;
    text-align: center;
    padding: 10rem 10%;
}

.projects-title{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: crimson;
}

.work{
    width: 400px;
    height: auto;
    padding: 2rem;
    background-color: crimson;
    margin: 2rem auto;
}

.work img{
    width: 100%;
    height: auto;
}

.work{
    color:white;
}

.work a {
    color: white;
}

.more-about{
    padding: 20%;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    border-bottom: 2px solid crimson;
}

#portfolio-link{
    font-size: 18px;
    text-align: center;
    margin-block: 2rem;
}


@media (min-width=35rem) {
    #projects{
        display: flex;
        
    }
    
}